{% extends 'main.html'%}

{% block contenu %}

<div class="row">
<div class="col-md-6">
    <div class="card card-body">

<form action="" method="POST">
    {% csrf_token %}
    {{form}}
    <input type="submit" name="Envoyer">
</forms>

</div>
</div>
</div>

{% endblock %}