{% extends 'main.html'%}

{% block contenu %}
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">

                   <p>Voulez-vous supprimer cette commande ?</p>
                   <form action="{% url 'supprimer_commande' item.id %}" method="post">
                    {% csrf_token %}
                    <a class="btn btn-warning" href="">Annuler</a>
                    <input class="btn btn-danger" type="submit" name="Confirmer">
                   </form>
</div>
    </div>
        </div>

{% endblock %}