{% load static %}    
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
           <img src="{% static 'assets/logo.png' %}">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">ACCEUIL</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">PRODUIT</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">CLIENT</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">COMMANDES</a></li>
                </ul>
            </div>
        </div>
    </nav>