{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
              <meta chartset="UTF-8">
              <title>MINI CRM</title>

        <link rel="stylesheet"  type="text/css" href="{% static 'css/main.css' %}">      
    </head>
<body>
{% include 'base/navbar.html'%}
    <hr>
        {% block contenu %}
        <h1>ICI LE CONTENU</h1>
        {% endblock %}
    <hr>
    <h1>ICI LE FOOTER</h1>
    <hr>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>