{% extends 'main.html'%}

{% block contenu %}

<br>
<div class="row">
	<div class="col-md-5">
		<h5>Clients:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Créer Un Client</a>
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Clients</th>
					<th>Commandes</th>
					<th>Telephone</th>
			
				{% for client in clients %}
			</tr>
				<th><a href="{% url 'client' client.id %}">{{client.id}}</th>
				<th>{{client.nom}}</th>
				<th>{{client.telephone}}</th>
				<th><a class="btn btn-sm btn-info" href="{% url 'client' client.id %}">Details</th>
			</tr>
				{% endfor %}


			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>Toutes Les Comamndes</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'ajout_commande' %}">Ajouter une Commande</a>
			<table class="table table-sm">
				<tr>
					<th>Produit</th>
					<th>Client</th>
					<th>Date</th>
					<th>Status</th>
					<th></th>
					<th>Modifier</th>
					<th>Supprimer</th>
				</tr>
				{% for commande in commandes %}
				<tr>
					<th>{{commande.client}}</th>
					<th>{{commande.produit}}</th>
					<th>{{commande.status}}</th>
					<th>{{commande.date_creation}}</th>
					<th></th>
					<th><a class="btn btn-sm btn-info" href="{% url 'modifier_commande' commande.id %}">Modifier</th>
				    <th><a class="btn btn-sm btn-danger" href="{% url 'supprimer_commande' commande.id %}">Supprimer</th>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>

</div>

{% endblock %}